/* _variables.scss */

/* Colors */
$primary-color: #131F39;
$secondary-color: #F68803;
$success-color: #009E60;
$info-color: #66B2B2;
$danger-color: #D21F3C;
$background-color: #F0F0F0;
$text-color: black;

/* Spacing */
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

/* Border Radius */
$border-radius: 10px;

/* Typography */
$normal-text-size: 14px;
$title-text-size: 16px;

/* Extra width for layout calculation */
$extra-width: 100px;
